.profile-info {
    background-color: #f7f7f7;
    padding: 20px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
}

section{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-stats {
    background-color: #f7f7f7;
    padding: 20px ;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 30rem;
}

.listening-history, .recommendations {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    margin-top: 50px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}