body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding : 20px;
}

header {
    background-color: #003333; /* darker shade */
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: auto;
    padding: 0 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header nav ul li {
    text-align: center;
}

header nav a {
    color : #000000;
    text-decoration: none;
    font-weight: bold;
}

header nav a.active {
    border-bottom: 2px solid #ffffff;
}

main {
    padding: 2em;
    background-color: #000000;
}

.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
}

.genre-card {
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    transition: transform 0.2s;
}

.genre-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.genre-card h3 {
    color: #333;
}

.genre-card p {
    color: #666;
}

.genre-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-card button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: absolute;
    margin-top: 11.7rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}